
.clientBox {
    height: 100px;
    width: 380px;
    margin-right: 40px;

    &:last-child {
        margin-right: 0;
    }

    img {
        width: 100%;
        height: 100%;
        background-size: contain;
    }
}

.background {
    width: 100%;
    height: 100%;
    background-size: contain;
}