.animationWrapper {
    margin-top: -420px;
}
#static_animation {
    width: 1920px;
    max-width: 100%;
    margin-top: 80px;
    z-index: 10;
}
#slogan img {
    position: relative;
}

#scrolling_animation {
    z-index: -1;
    opacity: 0;
    width: 1920px;
    height: 940px;
    max-width: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0 50%;
    margin-bottom: 160px;
}