*{
  margin: 0;
  padding: 0;
}
html, #root, body {
  min-width: 1440px !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  zoom:1;
}
@media (max-width:1500px) {
  html, #root, body {
    min-width: 1440px !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    zoom:0.9
  }
}
body{
  overflow-x: auto;
}
// body {
//   overflow-x: hidden;
// }

div {
  box-sizing: border-box;
}